:root {
    --primary-color: #5B3200;  
    --background-color: #FFF0E0;
    --primary-font: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--primary-font);
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: inherit;
}



